*.pyc
aloha-devel/model
aloha-devel/act_tonyzhao


camera_ws/build
camera_ws/devel

collect_data/data
collect_data/compressed_data

remote_control_pose_ctrl/follow1/build
remote_control_pose_ctrl/follow1/devel
remote_control_pose_ctrl/follow2/build
remote_control_pose_ctrl/follow2/devel
remote_control_pose_ctrl/master1/build
remote_control_pose_ctrl/master1/devel
remote_control_pose_ctrl/master2/build
remote_control_pose_ctrl/master2/devel

remote_control_joint_ctrl/follow1/build
remote_control_joint_ctrl/follow1/devel
remote_control_joint_ctrl/follow2/build
remote_control_joint_ctrl/follow2/devel
remote_control_joint_ctrl/master1/build
remote_control_joint_ctrl/master1/devel
remote_control_joint_ctrl/master2/build
remote_control_joint_ctrl/master2/devel
